!!!5
html(lang='zh')
  head
    meta(charset='utf-8')
    title dribbble UI
    link(rel='stylesheet', href='style.css')
    :stylus
      #mask
        position absolute
        opacity 0.5
        top 0
        left 0
        width 100%
        height 200%
        pointer-events none
        background transparent url('img/mask.jpg') no-repeat top center
  body
    #stage
      .profile
        .top
          p.dot ....
          p.dot ....
          p.dot ....
        .avatar.highlight
          img(src='img/avatar.jpeg', alt='avatar')
        .info
          p.name.center-text Sara Robertson
          p.title.center-text Graphic Designer
        .action
          a.button follow
        .status
          .followers
            p.center-box
              span.number 320
              | followers
          .following
            p
              span.number 239
              | following


